@page
@using Server.Models
<h3>Вход</h3>
<form method="post" action="https://localhost:7232/Account/login">
    <input name="name" placeholder="Имя пользователя" />
    <input name="password" placeholder="Пароль" type="password" />
    <input type="submit"></button>
</form>
