@page
@using Server.Models
<h3>Регистрация</h3>
<form method="post" action="https://localhost:7232/Account/register">
    <input name="name" placeholder="Имя пользователя" />
    <input name="password" placeholder="Пароль" type="password" />
    <input name="role" placeholder="Роль" />
    <input type="submit"></button>
</form>


